# Ignore archive files
/00_Archive

# Ignore wifi access information
wifi_access.txt

# Ignore .docx files
*.docx

# Ignore .pptx files
*.pptx

# Ignore .db files
*.db

# Ignore results .ipynb files
# Agent_Based_Credit_Risk_Modeling/agent_based_model_credit_risk.ipynb

# Ignore participants.xlsx
participants.xlsx

# Credentials
credentials.json

# Session content
2025_Summer_Session_Themes_GELL.xlsx