# Ignore archive files
/00_Archive

# Ignore wifi access information
wifi_access.txt

# Ignore .docx files
*.docx

# Ignore .pptx files
*.pptx

# Ignore .db files
*.db

# Ignore results .ipynb files
# Agent_Based_Credit_Risk_Modeling/agent_based_model_credit_risk.ipynb
multi-agent_augmented_analytics_example.ipynb

# Ignore participants.xlsx
participants.xlsx

# Credentials
credentials.json

# Application - related files
# app_step_01.py
app_step_02.py
app_step_03.py
app_step_04.py

# index.html
# index_step_01.html
index_step_02.html
index_step_03.html
index_step_04.html
questions.html
data.html

# Registrations
Summer_School_2025_Registrations.xlsx