# Ignore archive files
/00_Archive

# Ignore wifi access information
wifi_access.txt

# Ignore .docx files
*.docx

# Ignore .pptx files
*.pptx

# Ignore .db files
*.db

# Ignore results folders
Python_Multi-Agent_Augmented_Analytics/
Python_Single-Agent_Augmented_Analytics/

# Ignore participants.xlsx
participants.xlsx

# Credentials
credentials.json

# Registrations
Summer_School_2025_Registrations.xlsx
SS2025_Agenda.pdf