body {
    background-color: white;
    color: #002366; /* dark blue */
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #002366;
    text-align: left;
    margin-top: 20px;
}

.button {
    background-color: #002366;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 4px;
}

textarea {
    background-color: #f5f5f5;
    color: #002366;
    font-size: 14px;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

label {
    color: #002366;
    margin-bottom: 0px;
    display: block;
}

.sidebar {
    width: 200px;
    background-color: #002366;
    color: white;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    transition: background-color 0.2s ease;
}

.sidebar a:hover {
    background-color: #004080;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}

table {
    width: 95%;
    border-collapse: collapse;
    color: #002366;
    background-color: #f0f8ff;
    font-size: 9px;
    margin-left: 0px;
}

th, td {
    padding: 4px;
    border: 0.5px solid #002366;
    text-align: left;
}

th {
    background-color: #002366;
    color: white;
}

.query-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 90%;
}

.query-list li {
    margin: 10px 0;
    padding: 5px;
    background-color: #e6f0ff;
    border: 1px solid #002366;
    border-radius: 5px;
    font-size: 16px;
    color: #002366;
}