<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables Overview</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="/" title="Home">
            <i class="fas fa-home" style="font-size: 1.0em;"></i>
        </a>
        <a href="/data">Data</a>
        <a href="/questions">Example Questions</a>
    </div>
        <div class="main-content">
            <h2>Example Questions (Data Insights)</h2>
            <ul class="query-list">
                <li>Provide a summary statistic of all numerical data!</li>
                <li>Which are the 5 most expensive cars? Show type, price, hp, mileage, and fuel type!</li>
                <li>Provide a pivot table with the average price by transmission type!</li>
            </ul>
            <h2>Example Questions (Graphics)</h2>
            <ul class="query-list">
                <li>Show a histogram of prices!</li>
                <li>Show the number of cars per 'fuel type' in a bar chart!</li>
                <li>Plot the average price of the 10 most expensive makes in a bar chart. Arrange the prices in descending order!</li>
            </ul>
            <h2>Example Questions (Machine-Learning)</h2>
            <ul class="query-list">
                <li>Fit a multiple linear regression model based on price (target), hp and mileage. Show a summary of the result.</li>
                <li>Use k-means clustering based on the variables price, mileage and hp to find groups of cars.</li>
                <li>Create a random forest regression based on price (target), mileage and hp only for the make VW. Predict the price of a VW with 120 hp and 65000 mileage.</li>
            </ul>
        </div>
    </div>
</body>
</html>